@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome);

/* general stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #FFFFFF, #ECE9E6);
    background: -o-linear-gradient(left, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Nav */
nav {
    padding: 8px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    height: 65px;

}
.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}
.logo a {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
}
nav ul {
      float: right;
}
nav ul li {
      display: inline-block;
      float: left;
}
nav ul li:not(:first-child) {
      margin-left: 48px;
}
nav ul li:last-child {
      margin-right: 24px;
}
nav ul li a {
      display: inline-block;
      outline: none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

@media screen and (max-width: 800px) {
  .logo {
        padding: 0;
        padding-top: 5px;
  }
  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }
  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }
  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }
  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
  }
  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }
  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}
.hidden {
  display: none;
}

/* Main */
h3 {
  font-size: 25px;
  padding-top: 0;
}
main img {
  max-width: 100%;
  display: block;
  padding-top: 15px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
section img {
  -webkit-box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.75);
  padding-top: 0px;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Main image */
.big-image {
  text-align: center;
  color: white;
  position: relative;
}
.inside-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 span {
   color: white;
   font: bold 4vw 'Roboto', Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   text-transform: uppercase;
}
/* Sections */
.boxtext {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 1.35em;
  color: #7d97ad;
}
.sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.project-box {
  max-width: 70%;
}
.description {
  text-align: center;
  padding: 0;
  line-height: 0px;
}
.box1 {
  width: 100%;
  margin: 5px 5px 15px 5px;
  padding: 15px 15px 15px 15px;
}
.box2 {
  width: 100%;
  margin: 5px 5px 15px 5px;
  padding: 15px 15px 15px 15px;
}
.box3 {
  width: 100%;
  margin: 5px 5px 15px 5px;
  padding: 15px 15px 15px 15px;
}
.description {
  text-align: center;
  padding-top: 0;
  font-weight: 700;
}
.text-description {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 300px) {
  h2 span {
    font: bold 6vw 'Roboto', Sans-Serif;
    line-height: 15vw;
  }

}

@media screen and (min-width:800px) {
  .box1, .box2, .box3 {
    width: calc((100% - 30px)/3);
    padding-left: 5px;
    padding-right: 5px;
  }
  main img {
    max-width: 80%;
}

}
/* footer */
.wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}
.footer, .push {
  height: 80px;
}
.footer {
  background-color: black;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(184,177,184,1);
  -moz-box-shadow: 0px -5px 10px 0px rgba(184,177,184,1);
  box-shadow: 0px -5px 10px 0px rgba(184,177,184,1);
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
.footer-container li {
  list-style-type: none;
  float: right;
  display: inline;
  padding: 30px 20px 0px 0px;
  word-spacing: 50px;

}
.footer-container a {
  color: white;
  font-size: 25px;
}
.footer-text p{
  float: left;
  color: white;
  font-size: 12px;
  padding: 10px 0px 0px 20px;
}
